body{
    width:100%;
    margin: 0;
    padding: 0;
}
body #wrapper{
    width: 100%;
    height:100%;
    min-height:100%;
    overflow: hidden;
    position: fixed;
}
#container {
    position: absolute;
    top:0;
    right:20px;
    left:20px;
}
canvas {
    background-color: #000000;
}

li {
  font-size: 20px;
  line-height: 25px;
}

#title {
  font-family: -apple-system, Sans-Serif;
  font-weight: normal;;
  color: #ffffff;
  margin: auto;
  width: 60%;
  align-content: center;
  text-align: center;
}

li {
  list-style-type: circle;
}

#contents {
  font-family: -apple-system, Sans-Serif;
  font-weight: 300;
  background-color: #ffffff;
  color: #000000;
  width: 60%;
  margin: auto;
  padding: 15px;
  opacity: 0.9;
}

#contents p {
  padding-left: 15px;
  font-size: 20px;
}

#contents h1{
  font-family: -apple-system, Sans-Serif;
  font-weight: lighter;
  border-bottom: inset 2px #000000;
  padding-left: 15px;
}
